<form method="post" action="{{ path('app_souscategorie_outil_delete', {'id': souscategorie_outil.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ souscategorie_outil.id) }}">
    <button class="btn">Delete</button>
</form>
