{% extends 'adminbase.html.twig' %}

{% block title %}Edit Slider{% endblock %}
{% block stylesheet %}
 {{parent()}}
   
{% endblock %}
{% block body %}
    <h1>Edit Slider</h1>




  <div class="main-panel">
    <div class="container">
        <div class="page-inner">
            <div class="container">
            <div class="page-inner">
                <div class="row justify-content-center">
                 <div class="col-10 text-primary">
                    <h5 class="text-center text-secondery mt-4 pt-4 display-1 fw-bold">edit_Slider</h5>
                              {{ include('slider/_form.html.twig', {'button_label': 'Update'}) }}

                        <a href="{{ path('app_slider_index') }}">back to list</a>

                        {{ include('slider/_delete_form.html.twig') }}
                </div>
                </div>
                
                </div>
              
            </div>
            </div>
        </div>
    
    </div>     
    </div>



    

    
{% endblock %}
